<div class="row">		
	<div class="col s12">		   
		<table class="striped centered">
		    <thead>
		        <tr>
		            <th data-field="id">Pokemon Name</th>
		            <th data-field="name">Attack</th>
		            <th data-field="price">Defense</th>
		            <th data-field="price">HP</th>
		            <th data-field="price">Speed</th>
		            <th data-field="price">Height</th>
		            <th data-field="price">Exp</th>		            
		        </tr>
		    </thead>
		    <tbody>		    				     
				<tr ng-repeat="rattata in rattatas">
		          <td>{{ rattata.name }}</td>
		          <td>{{ rattata.attack }}</td>
		          <td>{{ rattata.defense }}</td>
		          <td>{{ rattata.hp }}</td>
		          <td>{{ rattata.speed }}</td>
		          <td>{{ rattata.height }}</td>
		          <td>{{ rattata.exp }}</td>
		        </tr>
		        <tr ng-repeat="charmander in charmanders">
		          <td>{{ charmander.name }}</td>
		          <td>{{ charmander.attack }}</td>
		          <td>{{ charmander.defense }}</td>
		          <td>{{ charmander.hp }}</td>
		          <td>{{ charmander.speed }}</td>
		          <td>{{ charmander.height }}</td>
		          <td>{{ charmander.exp }}</td>
		        </tr>
		        <tr ng-repeat="wartortle in wartortles">
		          <td>{{ wartortle.name }}</td>
		          <td>{{ wartortle.attack }}</td>
		          <td>{{ wartortle.defense }}</td>
		          <td>{{ wartortle.hp }}</td>
		          <td>{{ wartortle.speed }}</td>
		          <td>{{ wartortle.height }}</td>
		          <td>{{ wartortle.exp }}</td>
		        </tr>			        
		        <tr ng-repeat="caterpie in caterpies">
		          <td>{{ caterpie.name }}</td>
		          <td>{{ caterpie.attack }}</td>
		          <td>{{ caterpie.defense }}</td>
		          <td>{{ caterpie.hp }}</td>
		          <td>{{ caterpie.speed }}</td>
		          <td>{{ caterpie.height }}</td>
		          <td>{{ caterpie.exp }}</td>
		        </tr>
		        <tr ng-repeat="metapod in metapods">
		          <td>{{ metapod.name }}</td>
		          <td>{{ metapod.attack }}</td>
		          <td>{{ metapod.defense }}</td>
		          <td>{{ metapod.hp }}</td>
		          <td>{{ metapod.speed }}</td>
		          <td>{{ metapod.height }}</td>
		          <td>{{ metapod.exp }}</td>
		        </tr>
		        <tr ng-repeat="butterfree in butterfrees">
		          <td>{{ butterfree.name }}</td>
		          <td>{{ butterfree.attack }}</td>
		          <td>{{ butterfree.defense }}</td>
		          <td>{{ butterfree.hp }}</td>
		          <td>{{ butterfree.speed }}</td>
		          <td>{{ butterfree.height }}</td>
		          <td>{{ butterfree.exp }}</td>
		        </tr>
		        <tr ng-repeat="spearow in spearows">
		          <td>{{ spearow.name }}</td>
		          <td>{{ spearow.attack }}</td>
		          <td>{{ spearow.defense }}</td>
		          <td>{{ spearow.hp }}</td>
		          <td>{{ spearow.speed }}</td>
		          <td>{{ spearow.height }}</td>
		          <td>{{ spearow.exp }}</td>
		        </tr>
		        <tr ng-repeat="kakuna in kakunas">
		          <td>{{ kakuna.name }}</td>
		          <td>{{ kakuna.attack }}</td>
		          <td>{{ kakuna.defense }}</td>
		          <td>{{ kakuna.hp }}</td>
		          <td>{{ kakuna.speed }}</td>
		          <td>{{ kakuna.height }}</td>
		          <td>{{ kakuna.exp }}</td>
		        </tr>
		        <tr ng-repeat="beedrill in beedrills">
		          <td>{{ beedrill.name }}</td>
		          <td>{{ beedrill.attack }}</td>
		          <td>{{ beedrill.defense }}</td>
		          <td>{{ beedrill.hp }}</td>
		          <td>{{ beedrill.speed }}</td>
		          <td>{{ beedrill.height }}</td>
		          <td>{{ beedrill.exp }}</td>
		        </tr>
		        <tr ng-repeat="pidgey in pidgeys">
		          <td>{{ pidgey.name }}</td>
		          <td>{{ pidgey.attack }}</td>
		          <td>{{ pidgey.defense }}</td>
		          <td>{{ pidgey.hp }}</td>
		          <td>{{ pidgey.speed }}</td>
		          <td>{{ pidgey.height }}</td>
		          <td>{{ pidgey.exp }}</td>
		        </tr>
		        <tr ng-repeat="raticate in raticates">
		          <td>{{ raticate.name }}</td>
		          <td>{{ raticate.attack }}</td>
		          <td>{{ raticate.defense }}</td>
		          <td>{{ raticate.hp }}</td>
		          <td>{{ raticate.speed }}</td>
		          <td>{{ raticate.height }}</td>
		          <td>{{ raticate.exp }}</td>
		        </tr>
		        <tr ng-repeat="fearow in fearows">
		          <td>{{ fearow.name }}</td>
		          <td>{{ fearow.attack }}</td>
		          <td>{{ fearow.defense }}</td>
		          <td>{{ fearow.hp }}</td>
		          <td>{{ fearow.speed }}</td>
		          <td>{{ fearow.height }}</td>
		          <td>{{ fearow.exp }}</td>
		        </tr>
		        <tr ng-repeat="pikachu in pikachus">
		          <td>{{ pikachu.name }}</td>
		          <td>{{ pikachu.attack }}</td>
		          <td>{{ pikachu.defense }}</td>
		          <td>{{ pikachu.hp }}</td>
		          <td>{{ pikachu.speed }}</td>
		          <td>{{ pikachu.height }}</td>
		          <td>{{ pikachu.exp }}</td>
		        </tr>
		        <tr ng-repeat="arbok in arboks">
		          <td>{{ arbok.name }}</td>
		          <td>{{ arbok.attack }}</td>
		          <td>{{ arbok.defense }}</td>
		          <td>{{ arbok.hp }}</td>
		          <td>{{ arbok.speed }}</td>
		          <td>{{ arbok.height }}</td>
		          <td>{{ arbok.exp }}</td>
		        </tr>
		        <tr ng-repeat="ekans in ekansas">
		          <td>{{ ekans.name }}</td>
		          <td>{{ ekans.attack }}</td>
		          <td>{{ ekans.defense }}</td>
		          <td>{{ ekans.hp }}</td>
		          <td>{{ ekans.speed }}</td>
		          <td>{{ ekans.height }}</td>
		          <td>{{ ekans.exp }}</td>
		        </tr>
		        <tr ng-repeat="nidorina in nidorinas">
		          <td>{{ nidorina.name }}</td>
		          <td>{{ nidorina.attack }}</td>
		          <td>{{ nidorina.defense }}</td>
		          <td>{{ nidorina.hp }}</td>
		          <td>{{ nidorina.speed }}</td>
		          <td>{{ nidorina.height }}</td>
		          <td>{{ nidorina.exp }}</td>
		        </tr>
		        <tr ng-repeat="sandshrew in sandshrews">
		          <td>{{ sandshrew.name }}</td>
		          <td>{{ sandshrew.attack }}</td>
		          <td>{{ sandshrew.defense }}</td>
		          <td>{{ sandshrew.hp }}</td>
		          <td>{{ sandshrew.speed }}</td>
		          <td>{{ sandshrew.height }}</td>
		          <td>{{ sandshrew.exp }}</td>
		        </tr>
		        <tr ng-repeat="nidoranm in nidoranms">
		          <td>{{ nidoranm.name }}</td>
		          <td>{{ nidoranm.attack }}</td>
		          <td>{{ nidoranm.defense }}</td>
		          <td>{{ nidoranm.hp }}</td>
		          <td>{{ nidoranm.speed }}</td>
		          <td>{{ nidoranm.height }}</td>
		          <td>{{ nidoranm.exp }}</td>
		        </tr>
		        <tr ng-repeat="nidoranf in nidoranfs">
		          <td>{{ nidoranf.name }}</td>
		          <td>{{ nidoranf.attack }}</td>
		          <td>{{ nidoranf.defense }}</td>
		          <td>{{ nidoranf.hp }}</td>
		          <td>{{ nidoranf.speed }}</td>
		          <td>{{ nidoranf.height }}</td>
		          <td>{{ nidoranf.exp }}</td>
		        </tr>
		        <tr ng-repeat="clefabe in clefabes">
		          <td>{{ clefabe.name }}</td>
		          <td>{{ clefabe.attack }}</td>
		          <td>{{ clefabe.defense }}</td>
		          <td>{{ clefabe.hp }}</td>
		          <td>{{ clefabe.speed }}</td>
		          <td>{{ clefabe.height }}</td>
		          <td>{{ clefabe.exp }}</td>
		        </tr>
		        <tr ng-repeat="jigglypuff in jigglypuffs">
		          <td>{{ jigglypuff.name }}</td>
		          <td>{{ jigglypuff.attack }}</td>
		          <td>{{ jigglypuff.defense }}</td>
		          <td>{{ jigglypuff.hp }}</td>
		          <td>{{ jigglypuff.speed }}</td>
		          <td>{{ jigglypuff.height }}</td>
		          <td>{{ jigglypuff.exp }}</td>
		        </tr>
		        <tr ng-repeat="vulpix in vulpixes">
		          <td>{{ vulpix.name }}</td>
		          <td>{{ vulpix.attack }}</td>
		          <td>{{ vulpix.defense }}</td>
		          <td>{{ vulpix.hp }}</td>
		          <td>{{ vulpix.speed }}</td>
		          <td>{{ vulpix.height }}</td>
		          <td>{{ vulpix.exp }}</td>
		        </tr>
		        <tr ng-repeat="ninetales in ninetaleses">
		          <td>{{ ninetales.name }}</td>
		          <td>{{ ninetales.attack }}</td>
		          <td>{{ ninetales.defense }}</td>
		          <td>{{ ninetales.hp }}</td>
		          <td>{{ ninetales.speed }}</td>
		          <td>{{ ninetales.height }}</td>
		          <td>{{ ninetales.exp }}</td>
		        </tr>
		        <tr ng-repeat="zubat in zubats">
		          <td>{{ zubat.name }}</td>
		          <td>{{ zubat.attack }}</td>
		          <td>{{ zubat.defense }}</td>
		          <td>{{ zubat.hp }}</td>
		          <td>{{ zubat.speed }}</td>
		          <td>{{ zubat.height }}</td>
		          <td>{{ zubat.exp }}</td>
		        </tr>
		        <tr ng-repeat="venonat in venonats">
		          <td>{{ venonat.name }}</td>
		          <td>{{ venonat.attack }}</td>
		          <td>{{ venonat.defense }}</td>
		          <td>{{ venonat.hp }}</td>
		          <td>{{ venonat.speed }}</td>
		          <td>{{ venonat.height }}</td>
		          <td>{{ venonat.exp }}</td>
		        </tr>
		        <tr ng-repeat="meowth in meowths">
		          <td>{{ meowth.name }}</td>
		          <td>{{ meowth.attack }}</td>
		          <td>{{ meowth.defense }}</td>
		          <td>{{ meowth.hp }}</td>
		          <td>{{ meowth.speed }}</td>
		          <td>{{ meowth.height }}</td>
		          <td>{{ meowth.exp }}</td>
		        </tr>
		        <tr ng-repeat="oddish in oddishes">
		          <td>{{ oddish.name }}</td>
		          <td>{{ oddish.attack }}</td>
		          <td>{{ oddish.defense }}</td>
		          <td>{{ oddish.hp }}</td>
		          <td>{{ oddish.speed }}</td>
		          <td>{{ oddish.height }}</td>
		          <td>{{ oddish.exp }}</td>
		        </tr>
		        <tr ng-repeat="gloom in gloomses">
		          <td>{{ gloom.name }}</td>
		          <td>{{ gloom.attack }}</td>
		          <td>{{ gloom.defense }}</td>
		          <td>{{ gloom.hp }}</td>
		          <td>{{ gloom.speed }}</td>
		          <td>{{ gloom.height }}</td>
		          <td>{{ gloom.exp }}</td>
		        </tr>
		        <tr ng-repeat="vileplume in vileplumes">
		          <td>{{ vileplume.name }}</td>
		          <td>{{ vileplume.attack }}</td>
		          <td>{{ vileplume.defense }}</td>
		          <td>{{ vileplume.hp }}</td>
		          <td>{{ vileplume.speed }}</td>
		          <td>{{ vileplume.height }}</td>
		          <td>{{ vileplume.exp }}</td>
		        </tr>
		        <tr ng-repeat="paras in parases">
		          <td>{{ paras.name }}</td>
		          <td>{{ paras.attack }}</td>
		          <td>{{ paras.defense }}</td>
		          <td>{{ paras.hp }}</td>
		          <td>{{ paras.speed }}</td>
		          <td>{{ paras.height }}</td>
		          <td>{{ paras.exp }}</td>
		        </tr>
		        <tr ng-repeat="parasect in parasectes">
		          <td>{{ parasect.name }}</td>
		          <td>{{ parasect.attack }}</td>
		          <td>{{ parasect.defense }}</td>
		          <td>{{ parasect.hp }}</td>
		          <td>{{ parasect.speed }}</td>
		          <td>{{ parasect.height }}</td>
		          <td>{{ parasect.exp }}</td>
		        </tr>
		        <tr ng-repeat="venomoth in venomothes">
		          <td>{{ venomoth.name }}</td>
		          <td>{{ venomoth.attack }}</td>
		          <td>{{ venomoth.defense }}</td>
		          <td>{{ venomoth.hp }}</td>
		          <td>{{ venomoth.speed }}</td>
		          <td>{{ venomoth.height }}</td>
		          <td>{{ venomoth.exp }}</td>
		        </tr>
		        <tr ng-repeat="diglett in diglettes">
		          <td>{{ diglett.name }}</td>
		          <td>{{ diglett.attack }}</td>
		          <td>{{ diglett.defense }}</td>
		          <td>{{ diglett.hp }}</td>
		          <td>{{ diglett.speed }}</td>
		          <td>{{ diglett.height }}</td>
		          <td>{{ diglett.exp }}</td>
		        </tr>
		        <tr ng-repeat="dugtrio in dugtrios">
		          <td>{{ dugtrio.name }}</td>
		          <td>{{ dugtrio.attack }}</td>
		          <td>{{ dugtrio.defense }}</td>
		          <td>{{ dugtrio.hp }}</td>
		          <td>{{ dugtrio.speed }}</td>
		          <td>{{ dugtrio.height }}</td>
		          <td>{{ dugtrio.exp }}</td>
		        </tr>
		        <tr ng-repeat="persian in persians">
		          <td>{{ persian.name }}</td>
		          <td>{{ persian.attack }}</td>
		          <td>{{ persian.defense }}</td>
		          <td>{{ persian.hp }}</td>
		          <td>{{ persian.speed }}</td>
		          <td>{{ persian.height }}</td>
		          <td>{{ persian.exp }}</td>
		        </tr>
		        <tr ng-repeat="psyduck in psyducks">
		          <td>{{ psyduck.name }}</td>
		          <td>{{ psyduck.attack }}</td>
		          <td>{{ psyduck.defense }}</td>
		          <td>{{ psyduck.hp }}</td>
		          <td>{{ psyduck.speed }}</td>
		          <td>{{ psyduck.height }}</td>
		          <td>{{ psyduck.exp }}</td>
		        </tr>
		        <tr ng-repeat="mankey in mankeys">
		          <td>{{ mankey.name }}</td>
		          <td>{{ mankey.attack }}</td>
		          <td>{{ mankey.defense }}</td>
		          <td>{{ mankey.hp }}</td>
		          <td>{{ mankey.speed }}</td>
		          <td>{{ mankey.height }}</td>
		          <td>{{ mankey.exp }}</td>
		        </tr>
		        <tr ng-repeat="growlithe in growlithes">
		          <td>{{ growlithe.name }}</td>
		          <td>{{ growlithe.attack }}</td>
		          <td>{{ growlithe.defense }}</td>
		          <td>{{ growlithe.hp }}</td>
		          <td>{{ growlithe.speed }}</td>
		          <td>{{ growlithe.height }}</td>
		          <td>{{ growlithe.exp }}</td>
		        </tr>
		        <tr ng-repeat="arcanine in arcanines">
		          <td>{{ arcanine.name }}</td>
		          <td>{{ arcanine.attack }}</td>
		          <td>{{ arcanine.defense }}</td>
		          <td>{{ arcanine.hp }}</td>
		          <td>{{ arcanine.speed }}</td>
		          <td>{{ arcanine.height }}</td>
		          <td>{{ arcanine.exp }}</td>
		        </tr>
		        <tr ng-repeat="poliwag in poliwags">
		          <td>{{ poliwag.name }}</td>
		          <td>{{ poliwag.attack }}</td>
		          <td>{{ poliwag.defense }}</td>
		          <td>{{ poliwag.hp }}</td>
		          <td>{{ poliwag.speed }}</td>
		          <td>{{ poliwag.height }}</td>
		          <td>{{ poliwag.exp }}</td>
		        </tr>
		        <tr ng-repeat="abra in abras">
		          <td>{{ abra.name }}</td>
		          <td>{{ abra.attack }}</td>
		          <td>{{ abra.defense }}</td>
		          <td>{{ abra.hp }}</td>
		          <td>{{ abra.speed }}</td>
		          <td>{{ abra.height }}</td>
		          <td>{{ abra.exp }}</td>
		        </tr>
		        <tr ng-repeat="machop in machops">
		          <td>{{ machop.name }}</td>
		          <td>{{ machop.attack }}</td>
		          <td>{{ machop.defense }}</td>
		          <td>{{ machop.hp }}</td>
		          <td>{{ machop.speed }}</td>
		          <td>{{ machop.height }}</td>
		          <td>{{ machop.exp }}</td>
		        </tr>
		        <tr ng-repeat="bellsprout in bellsprouts">
		          <td>{{ bellsprout.name }}</td>
		          <td>{{ bellsprout.attack }}</td>
		          <td>{{ bellsprout.defense }}</td>
		          <td>{{ bellsprout.hp }}</td>
		          <td>{{ bellsprout.speed }}</td>
		          <td>{{ bellsprout.height }}</td>
		          <td>{{ bellsprout.exp }}</td>
		        </tr>
		        <tr ng-repeat="ivysaur in ivysaurs">
		          <td>{{ ivysaur.name }}</td>
		          <td>{{ ivysaur.attack }}</td>
		          <td>{{ ivysaur.defense }}</td>
		          <td>{{ ivysaur.hp }}</td>
		          <td>{{ ivysaur.speed }}</td>
		          <td>{{ ivysaur.height }}</td>
		          <td>{{ ivysaur.exp }}</td>
		        </tr>
		        <tr ng-repeat="squirtle in squirtles">
		          <td>{{ squirtle.name }}</td>
		          <td>{{ squirtle.attack }}</td>
		          <td>{{ squirtle.defense }}</td>
		          <td>{{ squirtle.hp }}</td>
		          <td>{{ squirtle.speed }}</td>
		          <td>{{ squirtle.height }}</td>
		          <td>{{ squirtle.exp }}</td>
		        </tr>
		        <tr ng-repeat="weedle in weedles">
		          <td>{{ weedle.name }}</td>
		          <td>{{ weedle.attack }}</td>
		          <td>{{ weedle.defense }}</td>
		          <td>{{ weedle.hp }}</td>
		          <td>{{ weedle.speed }}</td>
		          <td>{{ weedle.height }}</td>
		          <td>{{ weedle.exp }}</td>
		        </tr>
		        <tr ng-repeat="graveler in gravelers">
		          <td>{{ graveler.name }}</td>
		          <td>{{ graveler.attack }}</td>
		          <td>{{ graveler.defense }}</td>
		          <td>{{ graveler.hp }}</td>
		          <td>{{ graveler.speed }}</td>
		          <td>{{ graveler.height }}</td>
		          <td>{{ graveler.exp }}</td>
		        </tr>
		        <tr ng-repeat="geodude in geodudes">
		          <td>{{ geodude.name }}</td>
		          <td>{{ geodude.attack }}</td>
		          <td>{{ geodude.defense }}</td>
		          <td>{{ geodude.hp }}</td>
		          <td>{{ geodude.speed }}</td>
		          <td>{{ geodude.height }}</td>
		          <td>{{ geodude.exp }}</td>
		        </tr>
		        <tr ng-repeat="ponyta in ponytas">
		          <td>{{ ponyta.name }}</td>
		          <td>{{ ponyta.attack }}</td>
		          <td>{{ ponyta.defense }}</td>
		          <td>{{ ponyta.hp }}</td>
		          <td>{{ ponyta.speed }}</td>
		          <td>{{ ponyta.height }}</td>
		          <td>{{ ponyta.exp }}</td>
		        </tr>
		        <tr ng-repeat="rapidash in rapidashes">
		          <td>{{ rapidash.name }}</td>
		          <td>{{ rapidash.attack }}</td>
		          <td>{{ rapidash.defense }}</td>
		          <td>{{ rapidash.hp }}</td>
		          <td>{{ rapidash.speed }}</td>
		          <td>{{ rapidash.height }}</td>
		          <td>{{ rapidash.exp }}</td>
		        </tr>
		        <tr ng-repeat="slowbro in slowbros">
		          <td>{{ slowbro.name }}</td>
		          <td>{{ slowbro.attack }}</td>
		          <td>{{ slowbro.defense }}</td>
		          <td>{{ slowbro.hp }}</td>
		          <td>{{ slowbro.speed }}</td>
		          <td>{{ slowbro.height }}</td>
		          <td>{{ slowbro.exp }}</td>
		        </tr>
		        <tr ng-repeat="grimer in grimers">
		          <td>{{ grimer.name }}</td>
		          <td>{{ grimer.attack }}</td>
		          <td>{{ grimer.defense }}</td>
		          <td>{{ grimer.hp }}</td>
		          <td>{{ grimer.speed }}</td>
		          <td>{{ grimer.height }}</td>
		          <td>{{ grimer.exp }}</td>
		        </tr>
		        <tr ng-repeat="farfetchd in farfetchdes">
		          <td>{{ farfetchd.name }}</td>
		          <td>{{ farfetchd.attack }}</td>
		          <td>{{ farfetchd.defense }}</td>
		          <td>{{ farfetchd.hp }}</td>
		          <td>{{ farfetchd.speed }}</td>
		          <td>{{ farfetchd.height }}</td>
		          <td>{{ farfetchd.exp }}</td>
		        </tr>
		        <tr ng-repeat="magnemite in magnemites">
		          <td>{{ magnemite.name }}</td>
		          <td>{{ magnemite.attack }}</td>
		          <td>{{ magnemite.defense }}</td>
		          <td>{{ magnemite.hp }}</td>
		          <td>{{ magnemite.speed }}</td>
		          <td>{{ magnemite.height }}</td>
		          <td>{{ magnemite.exp }}</td>
		        </tr>
		        <tr ng-repeat="doduo in doduos">
		          <td>{{ doduo.name }}</td>
		          <td>{{ doduo.attack }}</td>
		          <td>{{ doduo.defense }}</td>
		          <td>{{ doduo.hp }}</td>
		          <td>{{ doduo.speed }}</td>
		          <td>{{ doduo.height }}</td>
		          <td>{{ doduo.exp }}</td>
		        </tr>
		        <tr ng-repeat="seel in seels">
		          <td>{{ seel.name }}</td>
		          <td>{{ seel.attack }}</td>
		          <td>{{ seel.defense }}</td>
		          <td>{{ seel.hp }}</td>
		          <td>{{ seel.speed }}</td>
		          <td>{{ seel.height }}</td>
		          <td>{{ seel.exp }}</td>
		        </tr>
		        <tr ng-repeat="dodrio in dodrios">
		          <td>{{ dodrio.name }}</td>
		          <td>{{ dodrio.attack }}</td>
		          <td>{{ dodrio.defense }}</td>
		          <td>{{ dodrio.hp }}</td>
		          <td>{{ dodrio.speed }}</td>
		          <td>{{ dodrio.height }}</td>
		          <td>{{ dodrio.exp }}</td>
		        </tr>
		        <tr ng-repeat="dewgong in dewgongs">
		          <td>{{ dewgong.name }}</td>
		          <td>{{ dewgong.attack }}</td>
		          <td>{{ dewgong.defense }}</td>
		          <td>{{ dewgong.hp }}</td>
		          <td>{{ dewgong.speed }}</td>
		          <td>{{ dewgong.height }}</td>
		          <td>{{ dewgong.exp }}</td>
		        </tr>
		        <tr ng-repeat="gastly in gastlys">
		          <td>{{ gastly.name }}</td>
		          <td>{{ gastly.attack }}</td>
		          <td>{{ gastly.defense }}</td>
		          <td>{{ gastly.hp }}</td>
		          <td>{{ gastly.speed }}</td>
		          <td>{{ gastly.height }}</td>
		          <td>{{ gastly.exp }}</td>
		        </tr>
		        <tr ng-repeat="cloyster in cloysters">
		          <td>{{ cloyster.name }}</td>
		          <td>{{ cloyster.attack }}</td>
		          <td>{{ cloyster.defense }}</td>
		          <td>{{ cloyster.hp }}</td>
		          <td>{{ cloyster.speed }}</td>
		          <td>{{ cloyster.height }}</td>
		          <td>{{ cloyster.exp }}</td>
		        </tr>
		        <tr ng-repeat="muk in muks">
		          <td>{{ muk.name }}</td>
		          <td>{{ muk.attack }}</td>
		          <td>{{ muk.defense }}</td>
		          <td>{{ muk.hp }}</td>
		          <td>{{ muk.speed }}</td>
		          <td>{{ muk.height }}</td>
		          <td>{{ muk.exp }}</td>
		        </tr>
		        <tr ng-repeat="krabby in krabbys">
		          <td>{{ krabby.name }}</td>
		          <td>{{ krabby.attack }}</td>
		          <td>{{ krabby.defense }}</td>
		          <td>{{ krabby.hp }}</td>
		          <td>{{ krabby.speed }}</td>
		          <td>{{ krabby.height }}</td>
		          <td>{{ krabby.exp }}</td>
		        </tr>
		        <tr ng-repeat="haunter in haunters">
		          <td>{{ haunter.name }}</td>
		          <td>{{ haunter.attack }}</td>
		          <td>{{ haunter.defense }}</td>
		          <td>{{ haunter.hp }}</td>
		          <td>{{ haunter.speed }}</td>
		          <td>{{ haunter.height }}</td>
		          <td>{{ haunter.exp }}</td>
		        </tr>
		        <tr ng-repeat="gengar in gengars">
		          <td>{{ gengar.name }}</td>
		          <td>{{ gengar.attack }}</td>
		          <td>{{ gengar.defense }}</td>
		          <td>{{ gengar.hp }}</td>
		          <td>{{ gengar.speed }}</td>
		          <td>{{ gengar.height }}</td>
		          <td>{{ gengar.exp }}</td>
		        </tr>
		        <tr ng-repeat="onix in onixs">
		          <td>{{ onix.name }}</td>
		          <td>{{ onix.attack }}</td>
		          <td>{{ onix.defense }}</td>
		          <td>{{ onix.hp }}</td>
		          <td>{{ onix.speed }}</td>
		          <td>{{ onix.height }}</td>
		          <td>{{ onix.exp }}</td>
		        </tr>
		        <tr ng-repeat="drowzee in drowzees">
		          <td>{{ drowzee.name }}</td>
		          <td>{{ drowzee.attack }}</td>
		          <td>{{ drowzee.defense }}</td>
		          <td>{{ drowzee.hp }}</td>
		          <td>{{ drowzee.speed }}</td>
		          <td>{{ drowzee.height }}</td>
		          <td>{{ drowzee.exp }}</td>
		        </tr>
		        <tr ng-repeat="hypno in hypnos">
		          <td>{{ hypno.name }}</td>
		          <td>{{ hypno.attack }}</td>
		          <td>{{ hypno.defense }}</td>
		          <td>{{ hypno.hp }}</td>
		          <td>{{ hypno.speed }}</td>
		          <td>{{ hypno.height }}</td>
		          <td>{{ hypno.exp }}</td>
		        </tr>		        
		    </tbody>										
		</table>
	</div>
</div>    
