.toolbar {
	background-color: #EF5350;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	display: inline-block;	
	box-shadow: 0 1px 7px -1px;
	margin-bottom: 40px;	
}

.toolbar .title-app {
	position: relative;
	margin: 0 auto;
	top: 35px;
	display: inline-block;
	cursor: pointer;
}

.toolbar .title-app span {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;	
}

.toolbar .input-search {
	margin: 0 auto;	
	width: 34%;
	right: -100px;
	top: 10px;
	position: relative;
}

.toolbar .input-search input[type="search"] {
	border: 1px solid grey;
	width: 150px;
	height: 30px;
	border-radius: 5px;
}